[submodule "assets/prodigal_training_files"]
	path = assets/prodigal_training_files
	url = https://github.com/mickaelsilva/prodigal_training_files.git
[submodule "assets/resfinder_db"]
	path = assets/resfinder_db
	url = https://bitbucket.org/genomicepidemiology/resfinder_db.git
[submodule "assets/pointfinder_db"]
	path = assets/pointfinder_db
	url = https://bitbucket.org/genomicepidemiology/pointfinder_db.git
[submodule "assets/virulencefinder_db"]
	path = assets/virulencefinder_db
	url = https://bitbucket.org/genomicepidemiology/virulencefinder_db.git
[submodule "assets/kma"]
	path = assets/kma
	url = https://bitbucket.org/genomicepidemiology/kma.git
[submodule "assets/chewBBACA"]
	path = assets/chewBBACA
	url = https://github.com/B-UMMI/chewBBACA/tree/master/CHEWBBACA/prodigal_training_files
	sparsecheckout = true
	shallow = true
