params { 
input = "$baseDir/assets/test_data/sequencing_data/saureus_10k"
reference = "$baseDir/assets/test_data/references/NC_011751.1.fasta"
adapters = "$baseDir/assets/test_data/adapters/NexteraPE-PE.fa"
outdir = "/tmp/ump/"

krakendb="$baseDir/assets/references/minikraken2/"
krakendb_url="ftp://ftp.ccb.jhu.edu/pub/data/kraken2_dbs/16S_Silva138_20200326.tgz"
//krakendb_url="ftp://ftp.ccb.jhu.edu/pub/data/kraken2_dbs/old/minikraken2_v2_8GB_201904.tgz"
kraken_db_download = true

aribadb="$baseDir/assets/references/ariba/"
ariba_db_download = true
}

process {
  cpus = 1
  memory = 8.GB
}
