/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Jasen Nextflow CMD config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file containing profiles pertaining to the Centre for Molecular Diagnostics
    in Lund's Regional hospital.
----------------------------------------------------------------------------------------
*/

profiles {
    dev {
        params.root                 = "/fs1/pipelines/jasen_dev"
        params.amrfinder_db         = "${params.root}/assets/amrfinder_db/latest"
        params.resfinder_db         = "${params.root}/assets/resfinder_db"
        params.pointfinder_db       = "${params.root}/assets/pointfinder_db"
        params.serotypefinder_db    = "${params.root}/assets/serotypefinder_db"
        params.virulencefinder_db   = "${params.root}/assets/virulencefinder_db"
        params.mlst_blast_db        = "${params.root}/assets/mlst_db/blast"
        params.pubmlst_db           = "${params.root}/assets/mlst_db/pubmlst"
        params.outdir               = "/fs1/results_dev/jasen"
        params.containers_dir       = "/fs1/resources/containers"
        params.tracedir             = "${params.outdir}/pipeline_info"
        params.symlink_dir          = "/access/jasen"
        params.use_hostile          = true
        params.use_kraken           = true
        params.dev_mode             = true
        params.copy_to_cron         = false
        params.bonsai_prp_sif       = "${params.containers_dir}/bonsai-prp.sif"
        params.executor             = 'slurm'
        params.queue                = 'grace-low'
    }

    production {
        params.root                 = "/fs1/pipelines/jasen"
        params.amrfinder_db         = "${params.root}/assets/amrfinder_db/latest"
        params.resfinder_db         = "${params.root}/assets/resfinder_db"
        params.pointfinder_db       = "${params.root}/assets/pointfinder_db"
        params.serotypefinder_db    = "${params.root}/assets/serotypefinder_db"
        params.virulencefinder_db   = "${params.root}/assets/virulencefinder_db"
        params.mlst_blast_db        = "${params.root}/assets/mlst_db/blast"
        params.pubmlst_db           = "${params.root}/assets/mlst_db/pubmlst"
        params.outdir               = "/fs1/results/jasen"
        params.containers_dir       = "/fs1/resources/containers"
        params.tracedir             = "${params.outdir}/pipeline_info"
        params.symlink_dir          = "/access/jasen"
        params.use_hostile          = true
        params.use_kraken           = true
        params.dev_mode             = false
        params.copy_to_cron         = true
        params.bonsai_prp_sif       = "docker://clinicalgenomicslund/bonsai-prp:1.0.0"
        params.executor             = 'slurm'
        params.queue                = 'grace-high'
    }
}

singularity{
	enabled = true
	runOptions = '--bind /fs1/ --bind /fs2/ --bind /local/ --bind /mnt/beegfs/'
	cacheDir = "${params.containers_dir}/"
}
