/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Jasen Nextflow NGP config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file containing profiles pertaining to the Nationella genomikplattformen
    in the Genomic Medicine Sweden group.
----------------------------------------------------------------------------------------
*/

workDir                             = "/mnt/ngpbenchmark2/gms-data/gmc-west/pipeline_output/jasen_workdir"

params {
    root                            = "/mnt/ngpbenchmark2/gms-apps/pipelines/jasen/v0.9"
    outdir                          = "/mnt/ngpbenchmark2/gms-data/gmc-west/pipeline_output/jasen_output"
    work_dir                        = "${workDir}"
    kraken_db                       = "/gms-home/isasyl/code/JASEN"
}

process {
    executor                        = 'sge'
    penv                            = "OpenMP"
}

apptainer {
    enabled                         = true
    runOptions                      = '--bind /mnt/ngpbenchmark2/gms-apps/pipelines/jasen/v0.9/:/mnt/ngpbenchmark2/gms-apps/pipelines/jasen/v0.9/'
    cacheDir                        = "${params.containers_dir}/"

    env.NXF_APPTAINER_LOCALCACHEDIR ="${params.work_dir}"
    env.NXF_APPTAINER_CACHEDIR      ="${params.containers_dir}"
    env.NXF_APPTAINER_TMPDIR        ="${params.work_dir}"

    env.APPTAINER_LOCALCACHEDIR     ="${params.work_dir}"
    env.APPTAINER_CACHEDIR          ="${params.containers_dir}"
    env.APPTAINER_TMPDIR            ="${params.work_dir}"
    env.APPTAINER_ROOTFS            ="${params.work_dir}"
}

dag {
	overwrite = true
}
