/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Jasen Nextflow NGP config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file containing profiles pertaining to the Nationella genomikplattformen
    in the Genomic Medicine Sweden group.
----------------------------------------------------------------------------------------
*/

workDir                             = "/mnt/ngpbenchmark2/gms-data/gmc-west/pipeline_output/jasen_workdir"

params {
    root                            = "/mnt/ngpbenchmark2/gms-apps/pipelines/jasen/v0.9"
    outdir                          = "/mnt/ngpbenchmark2/gms-data/gmc-west/pipeline_output/jasen_output"
    tracedir                        = "${outdir}/pipeline_info"
    containers_dir                  = "${root}/containers"
    amrfinder_db                    = "${root}/assets/amrfinder_db/latest"
    resfinder_db                    = "${root}/assets/resfinder_db"
    pointfinder_db                  = "${root}/assets/pointfinder_db"
    serotypefinder_db               = "${root}/assets/serotypefinder_db"
    virulencefinder_db              = "${root}/assets/virulencefinder_db"
    mlst_blast_db                   = "${root}/assets/mlst_db/blast"
    pubmlst_db                      = "${root}/assets/mlst_db/pubmlst"
    gambit_db                       = "${root}/assets/gambit_db"
    kraken_db                       = "/gms-home/isasyl/code/JASEN"
    workDir                         = "${workDir}"
}

process {
    executor                        = 'sge'
    penv                            = "OpenMP"
}

apptainer {
    enabled                         = true
    runOptions                      = '--bind /ngp/exec/dev/jasen/v1.0/:/ngp/exec/dev/jasen/v1.0/'
    cacheDir                        = "${params.containers_dir}/"

    env.NXF_APPTAINER_LOCALCACHEDIR = "${params.workDir}"
    env.NXF_APPTAINER_CACHEDIR      = "${params.containers_dir}"
    env.NXF_APPTAINER_TMPDIR        = "${params.workDir}"

    env.APPTAINER_LOCALCACHEDIR     = "${params.workDir}"
    env.APPTAINER_CACHEDIR          = "${params.containers_dir}"
    env.APPTAINER_TMPDIR            = "${params.workDir}"
    env.APPTAINER_ROOTFS            = "${params.workDir}"
    env.NXF_WORK                    = "${params.workDir}"
}

dag {
	overwrite = true
}
