# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
https://conda.anaconda.org/bioconda/linux-64/singularity-2.4.2-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/_r-mutex-1.0.1-anacondar_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/_sysroot_linux-64_curr_repodata_hack-3-h5bd9786_13.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/blas-1.0-openblas.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ca-certificates-2020.10.14-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/entrez-direct-16.2-he881be0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/font-ttf-dejavu-sans-mono-2.37-h6964260_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ld_impl_linux-64-2.33.1-h53a641e_7.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libgfortran-ng-7.3.0-hdf63c60_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libstdcxx-ng-11.2.0-he4da1e4_14.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/openjdk-8.0.152-h7b6447c_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/popt-1.16-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/glimmerhmm-3.0.4-h2d50403_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/kernel-headers_linux-64-3.10.0-h4a8ded7_13.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgomp-11.2.0-h1d223b6_14.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-1_gnu.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/sysroot_linux-64-2.17-h4a8ded7_13.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-11.2.0-h1d223b6_14.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bc-1.07.1-h7f98852_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/binutils_impl_linux-64-2.33.1-he6710b0_7.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/bzip2-1.0.8-h7b6447c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/c-ares-1.18.1-h7f98852_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/clustalw-2.1-h9f5acd7_7.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/expat-2.2.10-he6710b0_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/fribidi-1.0.10-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/giflib-5.1.4-h14c3975_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/graphite2-1.3.14-h23475e2_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/icu-58.2-he6710b0_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/jpeg-9b-habf39ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/keyutils-1.6.1-h166bdaf_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libdb-6.2.32-hf484d3e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libdeflate-1.10-h7f98852_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libev-4.33-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libffi-3.3-he6710b0_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libgcc-7.2.0-h69d50b8_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libiconv-1.15-h63c8f33_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libnsl-2.0.0-h7f98852_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libopenblas-0.3.10-h5a2b251_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libuuid-1.0.3-h1bed415_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libxcb-1.14-h7b6447c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libzlib-1.2.11-h166bdaf_1014.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/llvm-openmp-8.0.1-hc9558a2_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lz4-c-1.9.2-heb0550a_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/mafft-7.490-hec16e2b_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ncurses-6.3-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.1.1n-h166bdaf_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/paml-4.9-hec16e2b_7.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pcre-8.45-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pixman-0.40.0-h7b6447c_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/prodigal-2.6.3-hec16e2b_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tar-1.32-hd4ba37b_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tbb-2020.3-hfd86e86_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/xz-5.2.5-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/binutils_linux-64-2.33.1-h9595d00_15.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/gcc_impl_linux-64-7.3.0-habb00fd_1.conda
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.8.0-17_openblas.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libedit-3.1.20191231-h14c3975_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openmp-8.0.1-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/perl-5.32.1-2_h7f98852_perl5.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/readline-7.0-h7b6447c_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.11-h166bdaf_1014.tar.bz2
https://conda.anaconda.org/bioconda/noarch/any2fasta-0.4.2-hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bwa-0.7.17-h7132678_9.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/cd-hit-4.8.1-h5b5514e_6.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gcc_linux-64-7.3.0-h553295d_15.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gfortran_impl_linux-64-7.3.0-hdf63c60_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/glib-2.56.2-hd408876_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gxx_impl_linux-64-7.3.0-hdf63c60_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/k8-0.2.5-hd03093a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/krb5-1.19.3-h3790be6_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.8.0-17_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libnghttp2-1.47.0-h727a467_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libpng-1.6.37-hbc83047_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libssh2-1.10.0-ha56f1ee_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libxml2-2.9.10-hb55368b_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/mummer-3.23-pl5321h1b792b2_13.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-algorithm-diff-1.1903-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-autoloader-5.74-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-base-2.23-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-capture-tiny-0.48-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-class-data-inheritable-0.09-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-class-method-modifiers-2.13-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-common-sense-3.75-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-compress-raw-bzip2-2.101-pl5321h87f3376_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-compress-raw-zlib-2.101-pl5321h87f3376_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-constant-1.33-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-data-dumper-2.183-pl5321hec16e2b_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/perl-db_file-1.857-pl5321h166bdaf_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-devel-stacktrace-2.04-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-digest-hmac-1.04-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-digest-md5-2.58-pl5321hec16e2b_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-digest-perl-md5-1.9-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-dynaloader-1.25-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-exporter-5.72-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-exporter-tiny-1.002002-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-file-slurp-tiny-0.004-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-file-sort-1.01-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-file-spec-3.48_01-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-getopt-long-2.52-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-html-tagset-3.20-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-io-html-1.004-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-io-string-1.08-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-io-tty-1.16-pl5321hec16e2b_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-io-zlib-1.11-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-list-moreutils-xs-0.430-pl5321hec16e2b_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-math-bezier-0.01-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-math-round-0.07-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-math-vecstat-0.08-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-mime-base64-3.16-pl5321hec16e2b_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-module-runtime-0.016-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-mro-compat-0.15-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-package-stash-xs-0.29-pl5321h87f3376_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-parent-0.236-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-readonly-2.05-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-regexp-common-2017060201-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-scalar-list-utils-1.62-pl5321hec16e2b_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-set-intspan-1.19-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-socket-2.027-pl5321hec16e2b_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-sub-exporter-progressive-0.001013-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-sub-identify-0.14-pl5321hec16e2b_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-sub-name-0.21-pl5321hec16e2b_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-sub-quote-2.006006-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-sub-uplevel-0.2800-pl5321hec16e2b_4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-svg-2.86-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-test-deep-1.130-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-text-format-0.62-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-threaded-5.32.1-hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-timedate-2.33-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-try-tiny-0.31-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-url-encode-0.03-pl5321h9ee0642_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-xml-regexp-0.04-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-xml-xpathengine-0.14-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/perl-xsloader-0.24-pl5321hd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/rsync-3.1.3-h27826a3_1002.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/sqlite-3.33.0-h62c20be_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tk-8.6.10-hbc83047_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/vcftools-0.1.16-pl5321hd03093a_7.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/wget-1.20.1-h20c2e04_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zstd-1.4.4-h0b5b093_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/bwidget-1.9.11-1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/freetype-2.10.4-h5ab3b9f_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gfortran_linux-64-7.3.0-h553295d_15.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gsl-2.6-he838d99_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gxx_linux-64-7.3.0-h553295d_15.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcurl-7.82.0-h7bff187_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libtiff-4.1.0-h2733197_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/minimap2-2.24-h7132678_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/parallel-20160622-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-app-cpanminus-1.7039-2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bioperl-core-1.7.8-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-clone-0.42-pl5321hec16e2b_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-devel-globaldestruction-0.14-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-encode-3.16-pl5321hec16e2b_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-exception-class-1.45-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-extutils-makemaker-6.66-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-html-parser-3.72-pl5321h9f5acd7_8.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-ipc-run-20200505.0-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-list-moreutils-0.430-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-net-ssleay-1.92-pl5321h0e0aaa8_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-ntlm-1.09-pl5321hdfd78af_5.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-params-util-1.102-pl5321h9f5acd7_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-role-tiny-2.002004-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-test-exception-0.43-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-test-warn-0.36-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-text-diff-1.45-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-tree-dag_node-1.32-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-types-serialiser-1.01-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/python-3.7.1-h0371630_7.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tktable-2.10-h14c3975_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bowtie2-2.3.5.1-py37he513fc3_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/certifi-2020.6.20-py37_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/chardet-3.0.4-py37_1003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/curl-7.82.0-h7bff187_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/dendropy-4.5.2-pyh3252c3a_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/fontconfig-2.13.0-h9420a91_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/gatk4-4.2.5.0-hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/htslib-1.14-h9753748_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/idna-2.10-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/keepalive-0.5-pyhd8ed1ab_6.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/kiwisolver-1.2.0-py37hfd86e86_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lcms2-2.11-h396b838_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libwebp-1.0.1-h8e7db2f_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/numpy-base-1.19.1-py37h75fe3a5_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/olefile-0.46-py_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-bio-samtools-1.43-pl5321h7132678_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-searchio-hmmer-1.7.3-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-carp-1.38-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-encode-locale-1.05-pl5321hdfd78af_7.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-io-compress-2.102-pl5321h87f3376_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-io-socket-ssl-2.074-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-json-xs-2.34-pl5321h9f5acd7_5.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-test-differences-0.69-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pycparser-2.20-py_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/pyfastaq-3.17.0-py_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pyparsing-2.4.7-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pysocks-1.7.1-py37_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python_abi-3.7-2_cp37m.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pytz-2020.1-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/simplejson-3.17.2-py37h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/six-1.15.0-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/soupsieve-2.0.1-py_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/spades-3.15.4-h95f258a_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tornado-6.0.4-py37h7b6447c_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/trimmomatic-0.39-hdfd78af_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/wheel-0.35.1-py_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bcftools-1.5-h1ff2904_4.tar.bz2
https://conda.anaconda.org/anaconda/noarch/beautifulsoup4-4.9.3-pyhb0f4dca_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cairo-1.14.12-h8948797_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cffi-1.14.3-py37he30daa8_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cycler-0.10.0-py37_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/fastqc-0.11.9-hdfd78af_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libgd-2.2.5-h0db58fd_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/numpy-1.19.1-py37h30dfecb_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bioperl-run-1.007003-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-business-isbn-data-20210112.006-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-dist-checkconflicts-0.11-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-eval-closure-0.14-pl5321h9f5acd7_6.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-json-4.05-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-lwp-mediatypes-6.04-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-module-implementation-0.09-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-number-format-1.75-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-pathtools-3.75-pl5321hec16e2b_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-sub-install-0.928-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-test-most-0.37-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-time-hires-1.9764-pl5321hec16e2b_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-time-local-1.30-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pillow-8.0.0-py37h9a89aac_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/pymummer-0.10.3-py_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pysam-0.19.0-py37h8fe4cdf_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/python-dateutil-2.8.1-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/retrying-1.3.3-py_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/samtools-1.15-h3843a85_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/setuptools-50.3.0-py37hb0f4dca_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sparqlwrapper-1.8.5-py37h89c1867_1006.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/t_coffee-11.0.8-py37hea885bf_8.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/brotlipy-0.7.0-py37h7b6447c_1000.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cryptography-3.1.1-py37h1ba5d50_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/harfbuzz-1.8.8-hffaf4a1_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/joblib-0.17.0-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/matplotlib-base-3.3.1-py37h817c723_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-apache-test-1.43-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-archive-tar-2.40-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-asn1-entrezgene-1.73-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-coordinate-1.007001-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-tools-phylo-paml-1.7.3-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-tools-run-alignment-clustalw-1.7.4-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-tools-run-alignment-tcoffee-1.7.4-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-business-isbn-3.007-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-config-general-2.63-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-data-optlist-0.112-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-gd-2.56-5.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-http-date-6.05-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-module-runtime-conflicts-0.003-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-params-validate-1.30-pl5321hec16e2b_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-statistics-basic-1.6611-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pip-20.2.4-py37_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/plotly-4.11.0-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/scipy-1.5.2-py37habc2bb6_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/tabixpp-1.1.0-hb264ae4_8.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/ariba-2.14.6-py37h675a0cb_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/blast-2.12.0-hf3cf87c_4.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pango-1.42.4-h049681c_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-file-listing-6.14-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-package-stash-0.40-pl5321h87f3376_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-sub-exporter-0.988-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-uri-5.10-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pyopenssl-19.1.0-py_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/vcflib-1.0.3-hecb563c_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/freebayes-1.3.6-h346b5cb_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/kraken2-2.1.2-pl5321h9f5acd7_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-class-load-0.25-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-devel-overloadinfo-0.007-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-http-message-6.36-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-net-http-6.22-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-package-deprecationmanager-0.17-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-www-robotrules-6.02-pl5321hdfd78af_4.tar.bz2
https://repo.anaconda.com/pkgs/r/linux-64/r-base-3.4.3-h9bb98a2_5.conda
https://conda.anaconda.org/anaconda/noarch/urllib3-1.25.11-py_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-class-load-xs-0.10-pl5321h9f5acd7_6.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-http-cookies-6.10-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-http-daemon-6.14-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-http-negotiate-6.01-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/picard-2.26.11-hdfd78af_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/requests-2.24.0-py_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/chewbbaca-2.8.5-pyhdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-libwww-perl-6.61-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-moose-2.2201-pl5321hec16e2b_2.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-moo-2.005004-pl5321hdfd78af_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-xml-parser-2.44-4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-font-ttf-1.06-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-libxml-perl-0.08-pl5321hdfd78af_3.tar.bz2
https://conda.anaconda.org/bioconda/noarch/circos-0.69.8-hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-xml-dom-1.46-pl5321hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-xml-dom-xpath-0.14-pl5321hdfd78af_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/quast-5.0.2-py37pl5321h09c1ff4_7.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bio-featureio-1.6.905-pl5321hdfd78af_4.tar.bz2
https://conda.anaconda.org/bioconda/noarch/perl-bioperl-1.7.8-hdfd78af_1.tar.bz2
https://conda.anaconda.org/bioconda/noarch/mlst-2.19.0-hdfd78af_1.tar.bz2
