params {
	root = "${GITHUB_WORKSPACE}"
	amrfinderDb = "${root}/assets/amrfinder_db/latest"
	resfinderDb = "${root}/assets/resfinder_db"
	pointfinderDb = "${root}/assets/pointfinder_db"
	serotypefinderDb = "${root}/assets/serotypefinder_db"
	virulencefinderDb = "${root}/assets/virulencefinder_db"
	mlstBlastDb = "${root}/assets/mlst_db/blast"
	pubMlstDb = "${root}/assets/mlst_db/pubmlst"
	krakenDb = "/tmp/jsn" //edit if useKraken = true
	hostileIdx = "${root}/assets/hostile_db/human-t2t-hla"
	workDir = "/tmp/jsn" //edit
	publishDir = ""
	publishDirMode = 'copy'
	publishDirOverwrite = true
	outdir = "/tmp/jsn" //edit
	scratch = true
	containerDir = "${root}/container"
	args = ""
	prefix = ""
	bamDir = "bam"
	cdmDir = "cdm_input"
	vcfDir = "vcf"
	cronCopy = false
	useHostile = false
	useKraken = false
	useSkesa = true // To use spades set useSkesa = false
}

dag {
	overwrite = true
}

profiles {
	staphylococcus_aureus {
		params.species = "staphylococcus aureus"
		params.speciesDir = 'saureus'
		params.mlstScheme = 'saureus'
		params.referenceGenome = "${params.root}/assets/genomes/staphylococcus_aureus/GCF_000012045.1.fasta"
		params.referenceGenomeFai = "${params.root}/assets/genomes/staphylococcus_aureus/GCF_000012045.1.fasta.fai"
		params.referenceGenomeMmi = "${params.root}/assets/genomes/staphylococcus_aureus/GCF_000012045.1.mmi"
		params.referenceGenomeGff = "${params.root}/assets/genomes/staphylococcus_aureus/GCF_000012045.1.gff"
		params.chewbbacaDb = "${params.root}/assets/cgmlst/staphylococcus_aureus/alleles_rereffed"
		params.coreLociBed = "${params.root}/assets/cgmlst/staphylococcus_aureus/bed/GCF_000012045.1.bed"
		params.trainingFile = "${params.root}/assets/cgmlst/staphylococcus_aureus/alleles_rereffed/Staphylococcus_aureus.trn"
		params.useVirulenceDbs = ['s.aureus_hostimm', 's.aureus_exoenzyme', 's.aureus_toxin']
		params.useSerotypeDbs = []
		params.targetSampleSize = null
	}

	escherichia_coli {
		params.species = 'escherichia coli'
		params.speciesDir = 'ecoli'
		params.mlstScheme = 'ecoli_achtman_4'
		params.referenceGenome = "${params.root}/assets/genomes/escherichia_coli/GCF_000005845.2.fasta"
		params.referenceGenomeFai = "${params.root}/assets/genomes/escherichia_coli/GCF_000005845.2.fasta.fai"
		params.referenceGenomeMmi = "${params.root}/assets/genomes/escherichia_coli/GCF_000005845.2.mmi"
		params.referenceGenomeGff = "${params.root}/assets/genomes/escherichia_coli/GCF_000005845.2.gff"
		// params.chewbbacaDb = "${params.root}/assets/cgmlst/escherichia_coli/alleles_rereffed"
		// params.coreLociBed = "${params.root}/assets/cgmlst/escherichia_coli/bed/GCF_000005845.2.bed"
		// params.trainingFile = "${params.root}/assets/cgmlst/escherichia_coli/alleles_rereffed/Escherichia_coli.trn"
		params.chewbbacaDb = "${params.root}/assets/wgmlst/escherichia_coli/alleles/ecoli_INNUENDO_wgMLST"
		params.coreLociBed = "${params.root}/assets/wgmlst/escherichia_coli/bed/GCF_000005845.2.bed"
		params.shigapassDb = "${params.root}/assets/ShigaPass/SCRIPT/ShigaPass_DataBases"
		params.trainingFile = "${params.root}/assets/wgmlst/escherichia_coli/alleles/ecoli_INNUENDO_wgMLST/Escherichia_coli.trn"
		params.useVirulenceDbs = ['virulence_ecoli', 'stx']
		params.useSerotypeDbs = ['O_type', 'H_type']
		params.targetSampleSize = null
	}

	klebsiella_pneumoniae {
		params.species = 'klebsiella pneumoniae'
		params.speciesDir = 'kpneumoniae'
		params.mlstScheme = 'klebsiella'
		params.referenceGenome = "${params.root}/assets/genomes/klebsiella_pneumoniae/GCF_000240185.1.fasta"
		params.referenceGenomeFai = "${params.root}/assets/genomes/klebsiella_pneumoniae/GCF_000240185.1.fasta.fai"
		params.referenceGenomeMmi = "${params.root}/assets/genomes/klebsiella_pneumoniae/GCF_000240185.1.mmi"
		params.referenceGenomeGff = "${params.root}/assets/genomes/klebsiella_pneumoniae/GCF_000240185.1.gff"
		params.chewbbacaDb = "${params.root}/assets/cgmlst/klebsiella_pneumoniae/alleles_rereffed"
		params.coreLociBed = "${params.root}/assets/cgmlst/klebsiella_pneumoniae/bed/GCF_000240185.1.bed"
		params.trainingFile = "${params.root}/assets/cgmlst/klebsiella_pneumoniae/alleles_rereffed/Klebsiella_pneumoniae.trn"
		params.useVirulenceDbs = []
		params.useSerotypeDbs = ['O_type', 'H_type']
		params.targetSampleSize = null
	}

	mycobacterium_tuberculosis {
		params.species = 'mycobacterium tuberculosis'
		params.speciesDir = 'mtuberculosis'
		params.resistantLociName = 'resistance_loci'
		params.gradingLociName = 'grading_loci'
		params.referenceGenome = "${params.root}/assets/genomes/mycobacterium_tuberculosis/GCF_000195955.2.fasta"
		params.referenceGenomeFai = "${params.root}/assets/genomes/mycobacterium_tuberculosis/GCF_000195955.2.fasta.fai"
		params.referenceGenomeMmi = "${params.root}/assets/genomes/mycobacterium_tuberculosis/GCF_000195955.2.mmi"
		params.referenceGenomeGff = "${params.root}/assets/genomes/mycobacterium_tuberculosis/GCF_000195955.2.gff"
		params.coreLociBed = "${params.root}/assets/cgmlst/mycobacterium_tuberculosis/bed/GCF_000195955.2.bed"
		params.tbGradingRulesBed = "${params.root}/assets/tb_info/bed/tb_grading_rules.bed"
		params.tbdbBed = "${params.root}/assets/tbdb/converged_who_fohm_tbdb.bed.gz"
		params.tbdbBedIdx = "${params.tbdbBed}.tbi"
		params.targetSampleSize = null
	}

	streptococcus_pyogenes {
		params.species = 'streptococcus pyogenes'
		params.speciesDir = 'spyogenes'
		params.mlstScheme = 'spyogenes'
		params.referenceGenome = "${params.root}/assets/genomes/streptococcus_pyogenes/GCF_005164585.1.fasta"
		params.referenceGenomeFai = "${params.root}/assets/genomes/streptococcus_pyogenes/GCF_005164585.1.fasta.fai"
		params.referenceGenomeMmi = "${params.root}/assets/genomes/streptococcus_pyogenes/GCF_005164585.1.mmi"
		params.referenceGenomeGff = "${params.root}/assets/genomes/streptococcus_pyogenes/GCF_005164585.1.gff"
		params.chewbbacaDb = "${params.root}/assets/cgmlst/streptococcus_pyogenes/alleles_rereffed"
		params.coreLociBed = "${params.root}/assets/cgmlst/streptococcus_pyogenes/bed/GCF_005164585.1.bed"
		params.trainingFile = "${params.root}/assets/cgmlst/streptococcus_pyogenes/alleles_rereffed/Streptococcus_pyogenes.trn"
		params.useVirulenceDbs = []
		params.useSerotypeDbs = []
		params.targetSampleSize = null
	}

	streptococcus {
		params.species = 'streptococcus'
		params.speciesDir = 'streptococcus'
		params.mlstScheme = null
		params.referenceGenome = null
		params.referenceGenomeFai = null
		params.referenceGenomeMmi = null
		params.referenceGenomeGff = null
		params.chewbbacaDb = "${params.root}/assets/cgmlst/streptococcus/alleles_rereffed"
		params.shigapassDb = null
		params.coreLociBed = null
		params.trainingFile = null
		params.useVirulenceDbs = []
		params.useSerotypeDbs = []
		params.targetSampleSize = null
	}
}

process {
	time=1.h
	memory='1.GB'
	cpus=2

	withName: add_igv_track {
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/analysis_result", mode: 'copy', overwrite: true ]
		ext.when = { params.species == "mycobacterium tuberculosis" }
	}
	withName: amrfinderplus {
		container = "${params.containerDir}/ncbi-amrfinderplus.sif"
		cpus = 4
		memory = '10.GB'
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/amrfinderplus", mode: 'copy', overwrite: true ]
		ext.args = "--plus"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: annotate_delly {
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/${params.vcfDir}", mode: 'copy', overwrite: true ]
		ext.when = { params.species == "mycobacterium tuberculosis" }
	}
	withName: assembly_trim_clean {
		container = "${params.containerDir}/perl-json.sif"
		cpus = 4
		memory = '10.GB'
		ext.args = "--min_quality 23 --bases_to_trim 400 --min_length 100 -p 1 --nosingletons"
	}
	withName: bracken {
		container = "${params.containerDir}/bracken.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/kraken", mode: 'copy', overwrite: true ]
		ext.args = "-r 150"
		ext.when = { params.useKraken }
	}
	withName: bwa_index {
		container = "${params.containerDir}/bwakit.sif"
		ext.args = "-M"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: bwa_mem_dedup {
		container = "${params.containerDir}/bwakit.sif"
		cpus = 4
		memory = '12.GB'
		ext.args = "-M"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: bwa_mem_ref {
		container = "${params.containerDir}/bwakit.sif"
		cpus = 4
		memory = '12.GB'
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/${params.bamDir}", mode: 'copy', overwrite: true ]
		ext.args = "-M"
		ext.when = { params.referenceGenome && params.species != "mycobacterium tuberculosis" }
	}
	withName: chewbbaca_allelecall {
		cpus = 4
		memory = '12.GB'
		container = "${params.containerDir}/chewbbaca.sif"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: chewbbaca_create_batch_list {
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: chewbbaca_split_results {
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/chewbbaca", mode: 'copy', overwrite: true ]
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: create_analysis_result {
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/analysis_result", mode: 'copy', overwrite: true ]
	}
	withName: create_cdm_input {
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/${params.cdmDir}", mode: 'copy', overwrite: true ]
	}
	withName: create_yaml {
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ [ path: "${params.outdir}/${params.speciesDir}/analysis_yaml", mode: 'copy', overwrite: true ] ] + (params.cronCopy ? [ [ path: "/fs1/results/cron/jasen/${params.speciesDir}", mode: 'copy', overwrite: true ] ] : [])
		ext.args_prp = {"${params.outdir}/${params.speciesDir}/analysis_result"}
		ext.args_sourmash = {"${params.outdir}/${params.speciesDir}/sourmash"}
		ext.args_ska = {"${params.outdir}/${params.speciesDir}/ska"}
	}
	withName: emmtyper {
		container = "${params.containerDir}/emmtyper.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/emmtyper", mode: 'copy', overwrite: true ]
		ext.when = { params.species in ["streptococcus", "streptococcus pyogenes"] }
	}
	withName: export_to_cdm {
		publishDir = [ [ path: "${params.outdir}/${params.speciesDir}/qc", mode: 'copy', overwrite: true ] ] + (params.cronCopy ? [ [ path: "/fs1/results/cron/qc", mode: 'copy', overwrite: true ] ] : [])
	}
	withName: fastqc {
		cpus = 4
		memory = '2.GB'
		container = "${params.containerDir}/fastqc.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/fastqc", mode: 'copy', overwrite: true ]
		ext.args = "--threads 4"
	}
	withName: flye {
		container = "${params.containerDir}/flye.sif"
		cpus = 4
		memory = '2.GB'
		time=2.h
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/flye", mode: 'copy', overwrite: true ]
		ext.args = "--threads 40 --genome-size 2.8m --asm-coverage 50"
		ext.seqmethod = "--nano-hq"
	}
	withName: freebayes {
		container = "${params.containerDir}/freebayes.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/${params.vcfDir}", mode: 'copy', overwrite: true ]
		ext.args = "-C 2 -F 0.2 --pooled-continuous"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: hostile {
		cpus = 2
		memory = '2.GB'
		container = "https://depot.galaxyproject.org/singularity/hostile:2.0.0--pyhdfd78af_0"
		ext.args = "--airplane --index ${params.hostileIdx}"
		ext.when = { params.useHostile }
	}
	withName: kraken {
		memory = '12.GB'
		cpus = 4
		container = "${params.containerDir}/kraken2.sif"
		ext.args = "--gzip-compressed"
		ext.when = { params.useKraken }
	}
	withName: mask_polymorph_assembly {
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/mask", mode: 'copy', overwrite: true ]
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: medaka {
		container = "${params.containerDir}/medaka.sif"
		cpus = 20
		memory = '32.GB'
		time=2.h
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/medaka", mode: 'copy', overwrite: true ]
		ext.args = "-t 40 --bacteria"
	}
	withName: minimap2_ref {
		container = "${params.containerDir}/minimap2.sif"
		ext.args = "-a -x map-ont"
	}
	withName: mlst {
		container = "${params.containerDir}/mlst.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/mlst", mode: 'copy', overwrite: true ]
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: mykrobe {
		memory = '4.GB'
		container = "${params.containerDir}/mykrobe.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/mykrobe", mode: 'copy', overwrite: true ]
		ext.args = "--species tb --format csv"
		ext.when = { params.species == "mycobacterium tuberculosis" }
	}
	withName: nanoplot {
		container = "${params.containerDir}/nanoplot.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/nanoplot", mode: 'copy', overwrite: true ]
		ext.args = "--threads 8"
	}
	withName: post_align_qc {
		memory = '2.GB'
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/postalignqc", mode: 'copy', overwrite: true ]
		ext.when = { params.species != "streptococcus" }
	}
	withName: quast {
		container = "${params.containerDir}/quast.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/quast", mode: 'copy', overwrite: true ]
	}
	withName: resfinder {
		container = "${params.containerDir}/resfinder.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/resfinder", mode: 'copy', overwrite: true ]
		ext.nanopore_args = "--nanopore --ignore_indels --ignore_stop_codons"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: samtools_coverage {
		container = "${params.containerDir}/samtools.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/postmapqc", mode: 'copy', overwrite: true ]
	}
	withName: samtools_index_assembly {
		cpus = 4
		memory = '2.GB'
		container = "${params.containerDir}/samtools.sif"
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
	withName: samtools_index_ref {
		cpus = 4
		memory = '2.GB'
		container = "${params.containerDir}/samtools.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/${params.bamDir}", mode: 'copy', overwrite: true ]
		ext.when = { params.referenceGenome && params.species != "mycobacterium tuberculosis" }
	}
	withName: samtools_sort {
		cpus = 16
		memory = '20.GB'
		container = "${params.containerDir}/samtools.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/${params.bamDir}", mode: 'copy', overwrite: true ]
	}	
	withName: save_analysis_metadata {
		container = "${params.containerDir}/bonsai-prp.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/analysis_metadata", mode: 'copy', overwrite: true ]
	}
	withName: sccmec {
		cpus = 2
		memory = '2.GB'
		container = "${params.containerDir}/sccmec.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/sccmec", mode: 'copy', overwrite: true ]
		ext.when = { params.species == "staphylococcus aureus" }
	}
	withName: seqtk_sample {
		container = "${params.containerDir}/seqtk.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/seqtk_sample", mode: 'copy', overwrite: true ]
		ext.when = { params.targetSampleSize ? true : false }
	}
	withName: serotypefinder {
		cpus = 2
		container = "${params.containerDir}/serotypefinder.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/serotypefinder", mode: 'copy', overwrite: true ]
		ext.when = { (params.species in ["escherichia coli", "klebsiella pneumoniae"]) }
	}
	withName: shigapass {
		cpus = 2
		container = "${params.containerDir}/shigapass.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/shigapass", mode: 'copy', overwrite: true ]
		ext.when = { params.species == "escherichia coli" }
	}
	withName: ska_build {
		container = "${params.containerDir}/ska2.sif"
		cpus = 2
		memory = '10.GB'
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/ska", mode: 'copy', overwrite: true ]
		ext.args = "-k 31 --threads 1"
	}
	withName: skesa {
		container = "${params.containerDir}/skesa.sif"
		cpus = 4
		memory = '12.GB'
		time=2.h
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/skesa", mode: 'copy', overwrite: true ]
		ext.args = "--cores 4 --memory 12"
		ext.when = { params.useSkesa }
	}
	withName: snippy {
		memory = '12.GB'
		container = "${params.containerDir}/snippy.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/snippy", mode: 'copy', overwrite: true ]
		ext.when = { params.species == "mycobacterium tuberculosis" }
	}
	withName: sourmash {
		container = "${params.containerDir}/sourmash.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/sourmash", mode: 'copy', overwrite: true ]
		ext.args = "-p k=31,k=51,scaled=1000"
	}
	withName: spades_illumina {
		container = "${params.containerDir}/spades.sif"
		cpus = 4
		memory = '12.GB'
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/spades_illumina", mode: 'copy', overwrite: true ]
		ext.args = "--isolate"
		ext.when = { !params.useSkesa }
	}
	withName: spades_iontorrent {
		container = "${params.containerDir}/spades.sif"
		cpus = 4
		memory = '12.GB'
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/spades_iontorrent", mode: 'copy', overwrite: true ]
		ext.args = "--iontorrent --careful --sc"
	}
	withName: spatyper {
		cpus = 2
		memory = '2.GB'
		container = "${params.containerDir}/spatyper.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/spatyper", mode: 'copy', overwrite: true ]
		ext.when = { params.species == "staphylococcus aureus" }
	}
	withName: tbprofiler_mergedb {
		cpus = 4
		memory = '12.GB'
		container = "${params.containerDir}/tb-profiler.sif"
		publishDir = [ [ path: "${params.outdir}/${params.speciesDir}/tbprofiler_mergedb", mode: 'copy', overwrite: true, pattern: '*.json' ], [ path: "${params.outdir}/${params.speciesDir}/${params.vcfDir}", mode: 'copy', overwrite: true, pattern: '*.{vcf.gz}' ], [ path: "${params.outdir}/${params.speciesDir}/${params.bamDir}", mode: 'copy', overwrite: true, pattern: '*.bam*' ] ]
		ext.args = "--external_db ${params.root}/assets/tbdb/converged_who_fohm_tbdb --calling_params '-q 15'"
		ext.when = { params.species == "mycobacterium tuberculosis" }
	}
	withName: virulencefinder {
		cpus = 2
		container = "${params.containerDir}/virulencefinder.sif"
		publishDir = [ path: "${params.outdir}/${params.speciesDir}/virulencefinder", mode: 'copy', overwrite: true ]
		ext.when = { params.species != "mycobacterium tuberculosis" }
	}
}

singularity {
	//runOptions = '--bind /local/' // Bind/mount directories to image //Remove "//" and edit directories you wish to bind
	//autoMounts = true
	enabled = true

	env.NXF_SINGULARITY_LOCALCACHEDIR="${params.workDir}"
	env.NXF_SINGULARITY_CACHEDIR="${params.workDir}"
	env.NXF_SINGULARITY_TMPDIR="${params.workDir}"

	env.SINGULARITY_LOCALCACHEDIR="${params.workDir}"
	env.SINGULARITY_CACHEDIR="${params.workDir}"
	env.SINGULARITY_TMPDIR="${params.workDir}"
	env.SINGULARITY_ROOTFS="${params.workDir}"
}

manifest {
	homePage = 'https://github.com/genomic-medicine-sweden/jasen'
	description = 'Pipeline epitypes numerous bacterial species as well as identifies AMR and virulence genes'
	mainScript = 'main.nf'
	version = '1.0.0'
}
