// Trannel specific configuration for micro wgs pipeline //

process {
	withLabel: 'process_high' {
		cpus = 4
		memory = '16 GB'
		time = '4h'
	}
	withLabel: 'process_medium' {
		cpus = 2
		memory = '8 GB'
		time = '1h'
	}
	withLabel: 'process_low' {
		cpus = 1
		memory = '1 GB'
		time = '1h'
	}

	withName: 'ariba_run' {
		container = "https://depot.galaxyproject.org/singularity/ariba%3A2.14.6--py38h6ed170a_0"
		memory = '32 GB'
	}
	withName: 'ariba_summary' {
		container = "https://depot.galaxyproject.org/singularity/ariba%3A2.14.6--py38h6ed170a_0"
	}
	withName: 'bwa_mem|bwa_index' {
		container = "https://depot.galaxyproject.org/singularity/bwakit%3A0.7.15--3"
		cpus = 16
		memory = '32 GB'
		time = '1h'
	}
	withName: 'samtools_sort|samtools_index' {
		container = "https://depot.galaxyproject.org/singularity/samtools%3A1.9--h91753b0_5"
	}
	withName: 'spades' {
		container = "https://depot.galaxyproject.org/singularity/spades%3A3.15.3--h95f258a_0"
		cpus = 16
		memory = '64 GB'
		time = '2h'
	}
	withName: quast {
		container = "https://depot.galaxyproject.org/singularity/quast%3A5.0.2--py37pl526hb5aa323_2"
	}
	withName: mlst {
		container = "https://depot.galaxyproject.org/singularity/mlst:2.19.0--hdfd78af_1"
	}
	withName: kraken {
		cpus = 16
		memory = '48 GB'
		time = '2h'
		container = "https://depot.galaxyproject.org/singularity/kraken2%3A2.1.2--pl5262h7d875b9_0"
	}
	withName: bracken {
		cpus = 16
		memory = '48 GB'
		time = '2h'
		container = "https://depot.galaxyproject.org/singularity/bracken%3A2.6.1--py39h7cff6ad_2"
	}
	withName: resfinder {
		container = "container/resfinder.sif"
	}
	withName: virulencefinder {
		container = "container/virulencefinder.sif"
	}
	withName: freebayes {
		container = "https://depot.galaxyproject.org/singularity/freebayes%3A1.3.5--py39hd2e4403_0"
	}
	withName: 'chewbbaca_allelecall|chewbbaca_split_results|chewbbaca_split_missing_loci' {
		container = "container/chewbbaca.sif"
		cpus = 7
	}
	withName: 'ariba_summary_to_json' {
		container = "https://depot.galaxyproject.org/singularity/perl-json%3A4.02--pl526_0"
    }
	withName: 'post_align_qc' {
		container = "container/postAlignQc.sif"
    }
}

singularity {
	enabled = true
	runOptions = '--bind /fs1/:/fs1/ --bind /trannel/:/trannel/'
}

params {
	resfinderDb = '/fs1/resources/ref/micro/resfinder_db'
	pointfinderDb = '/fs1/resources/ref/micro/pointfinder_db'
	virulencefinderDb = '/fs1/resources/ref/micro/virulencefinder_db'
	mlstBlastDb = '/fs1/resources/micro/mlst/2.10/db/blast'
	outdir = 'pipeline_output'
	localTempDir = '/tmp'
	useKraken = false
}

profiles {
	staphylococcus_aureus {
		params.specie = 'staphylococcus aureus'
		params.genomeReference = '/fs1/resources/ref/micro/species/saureus/ref.fasta'
		params.genomeReference = '/fs1/resources/ref/micro/species/saureus/ref.fasta'
		params.aribaReference = '/fs1/resources/ref/micro/species/saureus/ariba/02.cdhit.all.fa'
		params.cgmlstDb = '/home/markjo/cgmlst'
		params.cgmlstSchema = '/home/markjo/cgmlst.bed'
		params.trainingFile = '/home/markjo/prodigal.trn'
		params.useVirulenceDbs = ['s.aureus_hostimm', 's.aureus_exoenzyme', 's.aureus_toxin']
	}

	escherichia_coli {
		params.specie = 'escherichia coli'
		params.genomeReference = '/fs1/resources/ref/micro/species/ecoli/ref.fasta'
		params.aribaReference = '/fs1/resources/ref/micro/species/ecoli/ariba/02.cdhit.all.fa'
		params.cgmlstDb = '/fs1/resources/ref/micro/species/ecoli/cgmlst'
		params.trainingFile = '/fs1/resources/ref/micro/species/ecoli/prodigal.trn'
		params.useVirulenceDbs = ['virulence_ecoli']
	}

	klebsiella_pneumoniae {
		params.specie = 'klebsiella pneumoniae'
		params.genomeReference = '/fs1/resources/ref/micro/species/klebsiella/ref.fasta'
		params.aribaReference = '/fs1/resources/ref/micro/species/klebsiella/ariba/02.cdhit.all.fa'
		params.cgmlstDb = '/fs1/resources/ref/micro/species/klebsiella/cgmlst'
		params.trainingFile = '/fs1/resources/ref/micro/species/klebsiella/prodigal.trn'
	}
}
