// Hopper specific configuration for micro wgs pipeline //

singularity{
	enabled = true
	runOptions = '--bind /fs1/ --bind /fs2/ --bind /local/ --bind /mnt/beegfs/'
}

params {
	root = "/fs1/pipelines/JASEN"
	// DATABASES //
	amrfinderDb = "${root}/assets/amrfinder_db/latest"
	resfinderDb = "${root}/assets/resfinder_db"
	pointfinderDb = "${root}/assets/pointfinder_db"
	virulencefinderDb = "${root}/assets/virulencefinder_db"
	mlstBlastDb = "${root}/assets/mlst_db/blast"
	krakenDb = "/fs1/resources/ref/micro/krakenstd"
	// INPUT & OUTPUT //
	workDir = "/fs1/ryan/pipelines/jasen/wd"
	publishDir = ""
	publishDirMode = 'copy'
	publishDirOverwrite = true
	scratch = true
	containerDir = "${root}/container" //change
	outdir = "/fs1/results_dev/jasen/test"
	args = ""
	prefix = ""
	// PIPELINE OPTIONS //
	useKraken = true
	useSkesa = true // To use spades set useSkesa = false
	queue='grace-high'
}

process {
	executor='slurm'
    queue=params.queue
	time=1.h
	memory='1 GB'
	cpus=2

	withName: abritamr {
		container = "${params.containerDir}/abritamr.sif"
		cpus = 4
		memory = '10 GB'
		publishDir = [ path: "${params.outdir}/abritamr", mode: 'copy', overwrite: true ]
		ext.args = "--sop plus"
	}
	withName: amrfinderplus {
		container = "${params.containerDir}/amrfinderplus.sif"
		cpus = 4
		memory = '10 GB'
		publishDir = [ path: "${params.outdir}/amrfinderplus", mode: 'copy', overwrite: true ]
		ext.args = "--plus"
	}
	withName: assembly_trim_clean {
		container = "${params.containerDir}/perl.sif"
		cpus = 4
		memory = '10 GB'
		ext.args = "--min_quality 23 --bases_to_trim 400 --min_length 100 -p 1 --nosingletons"
	}
	withName: bracken {
		container = "${params.containerDir}/bracken.sif"
		publishDir = [ path: "${params.outdir}/kraken", mode: 'copy', overwrite: true ]
		ext.args = "-r 150"
	}
	withName: bwa_index {
		container = "${params.containerDir}/bwakit.sif"
		ext.args = "-M"
	}
	withName: bwa_mem_dedup {
		container = "${params.containerDir}/bwakit.sif"
		cpus = 16
		memory = '20 GB'
		publishDir = [ path: "${params.outdir}/bwa", mode: 'copy', overwrite: true ]
		ext.args = "-M"
	}
	withName: bwa_mem_ref {
		container = "${params.containerDir}/bwakit.sif"
		cpus = 16
		memory = '20 GB'
		ext.args = "-M"
	}
	withName: chewbbaca_allelecall {
		cpus = 16
		memory = '12 GB'
		container = "${params.containerDir}/chewbbaca.sif"
	}
	withName: chewbbaca_split_results {
		publishDir = [ path: "${params.outdir}/chewbbaca", mode: 'copy', overwrite: true ]
	}
	withName: create_analysis_result {
		container = "${params.containerDir}/pythonScripts.sif"
		publishDir = [ path: "${params.outdir}/analysis_result", mode: 'copy', overwrite: true ]
	}
	withName: export_to_cdm {
		publishDir = [ path: "/fs1/results_dev/cron/qc", mode: 'copy', overwrite: true ]
	}
	withName: freebayes {
		container = "${params.containerDir}/freebayes.sif"
		publishDir = [ path: "${params.outdir}/freebayes", mode: 'copy', overwrite: true ]
		ext.args = "-C 2 -F 0.2 --pooled-continuous"
	}
	withName: kraken {
		memory = '48 GB'
		container = "${params.containerDir}/kraken2.sif"
		ext.args = "--gzip-compressed"
	}
	withName: mask_polymorph_assembly {
		publishDir = [ path: "${params.outdir}/mask", mode: 'copy', overwrite: true ]
	}
	withName: mlst {
		container = "${params.containerDir}/mlst.sif"
		publishDir = [ path: "${params.outdir}/mlst", mode: 'copy', overwrite: true ]
	}
	withName: post_align_qc {
		container = "${params.containerDir}/postAlignQc.sif"
		publishDir = [ path: "${params.outdir}/postalignqc", mode: 'copy', overwrite: true ]
	}
	withName: quast {
		container = "${params.containerDir}/quast.sif"
		publishDir = [ path: "${params.outdir}/quast", mode: 'copy', overwrite: true ]
	}
	withName: resfinder {
		container = "${params.containerDir}/resfinder.sif"
		publishDir = [ path: "${params.outdir}/resfinder", mode: 'copy', overwrite: true ]
	}
	withName: samtools_index {
		cpus = 16
		memory = '2 GB'
		container = "${params.containerDir}/samtools.sif"
		publishDir = [ path: "${params.outdir}/samtools", mode: 'copy', overwrite: true ]
	}
	withName: save_analysis_metadata {
		container = "${params.containerDir}/pythonScripts.sif"
		publishDir = [ path: "${params.outdir}/analysis_metadata", mode: 'copy', overwrite: true ]
	}
	withName: spades_illumina {
		container = "${params.containerDir}/spades.sif"
		cpus = 16
		memory = '15 GB'
		publishDir = [ path: "${params.outdir}/spades_illumina", mode: 'copy', overwrite: true ]
		ext.args = "--isolate"
		ext.when = { !params.useSkesa }
	}
	withName: spades_iontorrent {
		container = "${params.containerDir}/spades.sif"
		cpus = 16
		memory = '15 GB'
		publishDir = [ path: "${params.outdir}/spades_iontorrent", mode: 'copy', overwrite: true ]
		ext.args = "--iontorrent --careful --sc"
	}
	withName: skesa {
		container = "${params.containerDir}/skesa.sif"
		cpus = 16
		memory = '32 GB'
		time=2.h
		publishDir = [ path: "${params.outdir}/skesa", mode: 'copy', overwrite: true ]
		ext.args = "--cores 16 --memory 32"
		ext.when = { params.useSkesa }
	}
	withName: virulencefinder {
		cpus = 2
		container = "${params.containerDir}/virulencefinder.sif"
		publishDir = [ path: "${params.outdir}/virulencefinder", mode: 'copy', overwrite: true ]
	}
}

profiles {
	staphylococcus_aureus {
		params.species = "staphylococcus aureus"
		params.genomeReference = "${params.root}/assets/genomes/staphylococcus_aureus/NC_002951.2.fasta"
		params.aribaReference = "${params.root}/assets/card/nucleotide_fasta_protein_homolog_model.fasta"
		params.chewbbacaDb = "${params.root}/assets/cgmlst/staphylococcus_aureus/alleles_rereffed"
		params.coreLociBed = "${params.root}/assets/cgmlst/staphylococcus_aureus/bed/NC_002951.2.bed"
		params.trainingFile = "${params.root}/assets/prodigal_training_files/Staphylococcus_aureus.trn"
		params.useVirulenceDbs = ['s.aureus_hostimm', 's.aureus_exoenzyme', 's.aureus_toxin']
	}

	escherichia_coli {
		params.species = 'escherichia coli'
		params.genomeReference = "${params.root}/assets/genomes/escherichia_coli/NC_000913.3.fasta"
		params.aribaReference = "${params.root}/assets/card/nucleotide_fasta_protein_homolog_model.fasta"
		// params.chewbbacaDb = "${params.root}/assets/cgmlst/escherichia_coli/alleles_rereffed"
		// params.coreLociBed = "${params.root}/assets/cgmlst/escherichia_coli/bed/NC_000913.3.bed"
		params.chewbbacaDb = "${params.root}/assets/wgmlst/escherichia_coli/alleles"
		params.coreLociBed = "${params.root}/assets/wgmlst/escherichia_coli/bed/NC_000913.3.bed"
		params.trainingFile = "${params.root}/assets/prodigal_training_files/Escherichia_coli.trn"
		params.useVirulenceDbs = ['virulence_ecoli']
	}

	klebsiella_pneumoniae {
		params.species = 'klebsiella pneumoniae'
		params.genomeReference = "${params.root}/assets/genomes/NC_016845.1.fasta"
		params.aribaReference = "${params.root}/assets/card/nucleotide_fasta_protein_homolog_model.fasta"
		params.chewbbacaDb = "${params.root}/assets/cgmlst/klebsiella_pneumoniae/alleles"
		params.coreLociBed = "${params.root}/assets/cgmlst/klebsiella_pneumoniae/bed"
		params.trainingFile = "${params.root}/assets/prodigal_training_files/Klebsiella_pneumoniae.trn"
	}
}

manifest {
	homePage = 'https://github.com/genomic-medicine-sweden/JASEN'
	description = 'Pipeline epitypes numerous bacterial species as well as identifies AMR and virulence genes'
	mainScript = 'main.nf'
	version = '1.0.0'
}
