singularity{
  enabled = true
  runOptions = '--bind /fs1/ --bind /local/'
}



params {
  // GENERAL PATHS //
  refpath = '/fs1/resources/ref/micro/'
  outdir = '/fs1/results_dev'
  subdir = 'micro'
  crondir = "/fs1/results_dev/cron/"
  krakendb = '/fs1/resources/ref/micro/krakenstd'
  cpu_bwa = 16
  cpu_spades = 16
  cpu_many = 8

  cgviz = true
}


process {
  executor='slurm'
  queue='normal'
  time=2.h
}