name: CI
# This workflow runs the pipeline with the minimal test dataset to check that
# it completes without any syntax errors
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Install JASEN and run self-test pipeline
    # Only run on push if this is in the main repository
    if: "${{ github.repository == 'genomic-medicine-sweden/jasen' }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "23.10.1"
        organism:
          - "staphylococcus_aureus"
         #- "mycobacterium_tuberculosis"
         #- "klebsiella_pneumoniae"
         #- "escherichia_coli"
    steps:
      - name: Install Nextflow
        # For running (locally) with ACT, we use a docker image with Nextflow pre-installed
        if: "${{ ! github.event.act }}"
        uses: nf-core/setup-nextflow@v1
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Check-out git submodules
        # This should be done early so we can catch troubles with it early
        run: |
          cd ${GITHUB_WORKSPACE} && make check-and-reinit-git-submodules

      - name: Install Apptainer
        # For running (locally) with ACT, we use a docker image with Singularity/Apptainer already installed
        if: "${{ ! github.event.act }}"
        run: |
          wget https://github.com/apptainer/apptainer/releases/download/v1.3.6/apptainer_1.3.6_amd64.deb && sudo dpkg -i apptainer_1.3.6_amd64.deb

      - name: Install containers
        run:
          cd ${GITHUB_WORKSPACE}/container && sudo make build_local_containers && make download_remote_containers

      - name: Report disk-usage after building containers
        run:
          df -h

      - name: Run Make install only for S. Aureus
        run:
          SHORT_ORG=$(echo "${{ matrix.organism }}" | awk -F'_' '{print substr($1,1,1) $2}')
          make update_databases && df -h && make ${SHORT_ORG}_all

      - name: Report disk-usage after S. Aureus part
        run:
          df -h

      - name: Adapt paths in samplelist.csv
        # We have to use '#' as a separator, as there are slashes in the $PWD
        # path, messing up with the s///-replace syntax
        run: |
          sed -i "s#PATH_TO_JASEN#$PWD#g" assets/test_data/samplelist.csv

      - name: Run pipeline with test data
        run: |
          nextflow run ${GITHUB_WORKSPACE}/main.nf -profile ${{ matrix.organism }} -config configs/nextflow.ci.config --csv assets/test_data/samplelist.csv
